@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,300;1,500&family=Ubuntu:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,300;0,400;0,500;1,500&family=Ubuntu:ital,wght@1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
} 

body{
    height: 100vh;
    background: navy;
    color: white;
}

header{
    display: flex;
    justify-content: flex-end;
    height: 15vh;
    width: 95%;
    align-items: center;
}

header ul{
    display: flex;
    list-style: none;
    width: 35%;
    justify-content: space-around;
}

header ul li{
    font-size: 1rem;
    cursor: pointer;
}

.underline:hover{
    text-decoration: underline;
}

header ul li img{
    height: 1.2rem;
}

main{
    height: 85vh;
    display: flex;
}


main .left{
    width: 35%;
}

main .left{
    display: grid;
    grid-template-rows: 75% auto;
}

main .left .top{
    display: flex;
    justify-content: center;
    align-items: center;
}

main .left h1{
    font-size: 5rem;
    margin-left: 3rem;
    font-family: 'Loto';
}

main .left .top p{
    writing-mode: vertical-lr;
}

main .left .bottom{
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

main .left .bottom p{
    font-size: 1.1rem;
}

main .left .bottom h3{
    font-size: 1.5rem;
}

.limited{
    background: #212121;
    color: white;
    padding: 1rem;
    position: absolute;
    right: 0;
    writing-mode: vertical-rl;
    top: -30%;
    font-size: 0.8rem;
}




/* RIGHT SECTION CSS */

main .right{
    display: grid;
    grid-template-rows: 80% auto;
    width: 65%;
}

main .right .top{
    display: flex;
    align-items: center;
}


main .right .top img{
    height: 20rem;
    margin-left: 30%;
    filter: drop-shadow(12px 12px 7px rgba(255,87,87));
   
}

main .right .top .b{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    width: 100%;
    align-items: center;
}

main .right .top .b h2{
    font-size: 3rem;
}

main .right .top ul{
    list-style: none;
    font-size: 1rem;
    line-height: 2.7rem;
}

main .right .bottom p{
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
    width: 80%;
}

